<%
#当前价：  拍卖尚未开始
#拍卖厅：  倒计时出价大厅 开始：2013-06-17 10:00:00
#距开始：  正在拍卖  结束：2013-06-17 10:13:00
#拍卖权限  您没有参与拍卖权限   >>点击申请参与拍卖
#起拍价： ￥1000元 加价幅度：￥500元  保留价：有
#拍卖保证金：￥5000元  车辆承保金：￥44100元 过户保证金：中标价的10%(最低5000元，最高30000元)
#拍卖时间  价格  用户ID
%>
<script type="text/javascript" charset="utf-8">
  g_auction_closed = <%= !@auction.open?%>
</script>
<div id="auction_info" class="auction-interaction">
    <% if @auction.doing? %>
        <ul class="pm-bid-eyebrow">
            <li id="sf-price">
                <span class="title">当前价</span>
                <span class="pm-current-price J_Price">
    			        <em><%= @auction.formatted_current_price %> </em>
                  <span class="J_AuctionTip auction-tip pm-current-price-tip hidden">柒万捌佰元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
                </span> <em class="rmb-unit">元</em>
                <a class="pai-help" target="_blank" href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy"><i class="iconfont-sf"></i>竞买帮助</a>
            </li>
            <li class="J_PItem" id="sf-countdown" data-itemid="536334542630" data-now="1470392483703" data-timetoend="13118081" data-timetostart="-29873000" data-end="1470405600000" data-start="1470362400000">
                <span class="title J_TimeTitle">距结束</span>
                <span class="countdown J_TimeLeft"><var>00</var><em>天</em><var>03</var><em>时</em><var>38</var><em>分</em><var>37.3</var><em>秒</em></span>
                <span id="J_Delay" class="pm-delay"><em class="delayCnt">0</em>次延时</span>
            </li>
          </ul>
          <div class="pm-bid-eye">
                <span class="status-tip status-ing"></span>
                <div class="pm-bid pm-before-apply">
                    <dl class="pm-price J_PmPrice clearfix">
                        <dt class="pm-h"><label for="J_PriceInput">出&nbsp;&nbsp;价</label></dt>
                        <dd class="plus-minus-operation">
                            <input type="text" class="pm-price-input" id="J_PriceInput" readonly="" disabled="disabled" value="71,000 " maxlength="" title="出价框，请输入拍卖价格" data-range="200.00" data-min="71000.00" data-max="9999999999.99">
                            <input type="hidden" name="price" id="J_RealPrice" value="">
                            <div class="pm-sign">
                                <a href="#!/price/plus" class="plus J_Sign" onclick="return false;" data-spm-anchor-id="0.0.0.0">+</a>
                                <a href="#!/price/minus" class="minus J_Sign" onclick="return false;">-</a>
                            <span class="J_AuctionTip auction-tip pm-sign-tip hidden" style="display: none;">可成倍加价幅度出价<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></div>
                            <div id="J_CnMoney" class="detail-info-cn-money" style="display: none"><ul class="clearfix"></ul></div>
                        </dd>
                    </dl>
                    <dl class="pm-message clearfix">
                        <dt class="pm-h"></dt>
                        <dd>
                            <div class="line">
                              <a href="//sf.taobao.com/pay_foregift_page.htm?item_id=536334542630" class="pm-button-new pm-apply-button i-b" name="apply" aria-role="button" target="_blank" id="submitDeposit">报名交保证金</a>
                              <a href="//sf.taobao.com/pay_foregift_page.htm?item_id=536334542630" target="_blank" style="display:none;"></a>
                              <a href="//www.taobao.com/markets/paimai/sf/feiyin?spm=a213w.6688509.detail.12.UVRH6b" target="_blank" class="J_PayTypes i-b pay-type" data-money="9000">
                                      <i class="iconfont-sf"></i>
                                        保证金支付方式
                                    <span class="J_AuctionTip auction-tip J_PayTypes-tip hidden" style="display: none;">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  <div class="more-pay-type"><a href="//www.taobao.com/markets/paimai/sf/feiyin?spm=a213w.6688509.detail.12.UVRH6b" target="_blank">更多支付帮助</a></div><em class="detail-tip-icon detail-tip-icon-top"></em></span></a>

                                                                      <div class="hidden J_PayType_5">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  </div>
                                  <div class="hidden J_PayType_50">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  </div>
                                  <div class="hidden J_PayType_100">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  </div>
                                  <div class="hidden J_PayType_200">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  </div>
                                  <div class="hidden J_PayType_200_over">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                  </div>
                                </div>
                                <div class="msg">
                                    <p class="tips" data-tip-type="login" data-always="true">提醒：先报名交保证金再出价。如果您已经交付保证金，请<a href="#" class="J_Login login-tip">登录</a></p>
                                </div>

                        </dd>
                    </dl>
                </div>
            </div>
    <% elsif @auction.done? %>
        <ul class="pm-bid-eyebrow">
              <li>
                  <span class="title">当前价</span>  <span class="pm-current-price J_Price"><em><%= @auction.formatted_current_price %> </em><span class="J_AuctionTip auction-tip pm-current-price-tip hidden" style="display: none;">柒万伍仟壹佰贰拾壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span>
                  <em class="rmb-unit">元</em>
              </li>
              <li>
                  <span class="title over-title">结束时间</span>
                  <span class="countdown J_TimeLeft"> <%= @auction.formatted_closed_at %> </span>
                  <span id="J_Delay" class="pm-delay" style="display:inline;"><em class="delayCnt">7</em>次延时</span>
              </li>
        </ul>
        <div class="pm-bid bid-over">
                                   <h1 class="bid-fail"><s></s>本场拍卖已结束 ！</h1>
                              <div class="close-price"></div>
       </div>
    <% end %>


 <div class="pm-bid-mouse clearfix">
         <table class="pai-pay-infor">
             <colgroup>
                 <col width="35%">
                 <col width="37%">
                 <col width="">
             </colgroup>
             <thead>
             </thead>
             <tbody id="J_HoverShow">
             <tr>
                 <td>
                    <span class="pay-mark i-b">起 拍 价</span>
                    <span class="pay-price" style="z-index: 99;">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_starting_price %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">叁万玖仟壹佰贰拾壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                    <span class="pay-mark i-b">加价幅度</span>
                    <span class="pay-price">: <em class="m-i">¥</em><span class="J_Price"><%= @auction.formatted_price_increment %>  <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">壹仟元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                    <span class="pay-mark i-b">类 型</span>
                    <span class=" J_Type_p ">: <span class="pay-type">拍卖</span><span class="pay-type-help"></span></span>
                    <span class="J_AuctionTip auction-tip delay-td-tip hidden" style="display: none;">拍乐拍卖是由拍乐网作为主体，和纯粹的技术平台合作处置资产的模式。<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></td>
             </tr>
             <tr>
                <td>
                     <span class="pay-mark i-b">评 估 价</span>
                     <span class="pay-price" style="z-index: 99;">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_evaluated_price %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">肆万捌仟玖佰壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                     <span class="pay-mark i-b">竞价周期</span>
                     <span>: <%= @auction.formatted_auction_period %></span>
                 </td>
                 <td class="prior-td">
                     <span class="pay-mark i-b pay-first"><em class="pay-first-icon"></em>优先购买权人</span>
                     <span>: 无 </span>
                 <span class="J_AuctionTip auction-tip prior-td-tip hidden" style="display: none;">优先购买权又称先买权，是指法律赋予特定对象（特定人）依照法律规定或合同约定，在出卖标的物于第三人时，享有的在同等条件下优先于第三人购买的权利。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.3.ucBfJv&amp;path=sf-helpcenter-mcjs#m8" target="_blank" data-spm-anchor-id="a213w.6688509.detail.3">详细</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span></td>
            </tr>
             <tr>
                 <td>
                     <span class="pay-mark i-b">保 证 金</span>
                     <span class="pai-save-price ">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_deposit %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">玖仟元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td class="delay-td">
                     <span class="pay-mark J_Delay i-b">延时周期</span>
                     <span>: 5分钟/次 </span>
                     <span class="J_AuctionTip auction-tip delay-td-tip hidden" style="display: none;">竞拍最后2分钟内，若有用户出价，即进入延时竞价周期。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.4.ucBfJv&amp;path=sf-helpcenter-mcjs#m9" target="_blank" data-spm-anchor-id="a213w.6688509.detail.4">查看</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
                </td>
                 <td class="reserve-td">
                     <span class="pay-mark J_Reserve i-b">保 留 价</span>
                     <span>: <%= @auction.reserve_price>0 ? "有" : "无" %></span>
                 <span class="J_AuctionTip auction-tip reserve-td-tip hidden" style="display: none;">卖家设定的拍品的最低成交价格，最终的价格低于该价格即流拍。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.5.ucBfJv&amp;path=sf-helpcenter-mcjs#m11" target="_blank" data-spm-anchor-id="a213w.6688509.detail.5">查看</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
               </td>
             </tr>
             </tbody>
         </table>
     </div>

<table class="auctionInfo">

  <% if @auction.open? || @auction.todo? || @auction.closed? %>
  <tr>
    <td>当前价</td> <td colspan="2"><%= @auction.open? ? @auction.current_price : ( @auction.todo? ? "还没开始":"已经结束")  %></td>
  </tr>
  <tr>
    <td>开始时间</td> <td colspan="2"><%= format_time(@auction.starts_at)%></td>
  </tr>
  <tr>
    <td>结束时间</td> <td colspan="2"><%= format_time(@auction.ends_at)%></td>
  </tr>
  <tr>
    <td>
      <% if @auction.open? %>
      正在拍卖
      <% elsif @auction.todo? %>
      距开始
      <% else %>
      已结束
      <% end %>
      </td>
    <td colspan="2">
      <% if @auction.open? %>
           <%=  Time.at( (@auction.ends_at-Time.now) ).utc.strftime("%H:%M:%S") %>
      <% else %>
          <% if @auction.todo? %>
            <% if @auction.starts_at.today? %>
              <%= render :partial=>"time_to_start_countdown"%>
            <% else %>
              <%= distance_of_time_in_words_to_now(@auction.starts_at) %>
            <% end %>
          <% else %>
              <%= distance_of_time_in_words_to_now(@auction.ends_at) %>
          <% end %>
      <% end %>
    </td>
  </tr>
  <%else%>
  <tr><td>当前价</td> <td><%= 0 %></td> </tr>
  <tr><td>计划开始日期</td> <td><%= escape_date(@auction.starts_at)  %></td> </tr>
  <tr><td>计划结束日期</td> <td><%= escape_date(@auction.ends_at) %></td> </tr>
  <tr><td>距开始</td> <td><%= distance_of_time_in_words_to_now(@auction.starts_at)  if @auction.starts_at.present?%></td> </tr>
  <%end%>

  <tr>
    <td>拍卖权限</td>
    <td colspan="2">
      <% if @auction.open? %>

        <% if @auction.allowed_to_offer?(spree_current_user) %>
          <%= form_for Offer.new,:url=>bid_auction_path, :remote=>true do |offer| %>
            <table>
              <tr>
                <td><%= offer.label :price, '竞标价格' %>:</td>
                <td><%= offer.text_field :price, :value=>(@auction.current_price+@auction.price_increment), :class => "span-2" %>
                  <%= offer.submit '出价', :confirm => "确认您的出价" %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><div id="bid_result"></div></td>
              </tr>
            </table>
          <% end %>

        <% end %>
      <% elsif @auction.todo? %>
        <% if @auction.allowed_to_offer?(spree_current_user) %>
          "您可以投标，请耐心等待"
        <% else %>
          <% if false #if signed_in? and spree_current_user.messages.sent.with_auction(@auction).present? %>
          您已申请参与拍卖,等待管理员审核
          <% else%>
          您没有参与拍卖权限   >> <%= link_to "点击申请参与拍卖", apply_auction_path(@auction) %>
          <% end %>
        <% end %>
      <% else %>
        <%=  "无" %>
      <% end %>

    </td>
  </tr>
</table>
<table class="auctionInfo">
  <tr>
    <td>
      起拍价
    </td>
    <td><%= @auction.starting_price %> </td>
    <td>
      加价幅度
    </td>
    <td><%= @auction.price_increment %></td>
    <td>
      保留价
    </td>
    <td><%= @auction.reserve_price>0 ? "有":"没有"  %></td>
  </tr>
  <tr>
    <td>
      拍卖保证金
    </td>
    <td><%= @auction.deposit %></td>
    <td>
      车辆承保金
    </td>
    <td></td>
    <td>
      过户保证金
    </td>
    <td><%= raw "中标价的10%</br>(最低5000元，最高30000元)"  %></td>
  </tr>
</table>

<table class="offerInfo">
  <tr>
    <th>拍卖时间</th>
    <th>价格</th>
    <th>用户ID</th>
  </tr>
  <% @auction.bids.limit(6).each do |bid| %>
  <tr>
    <td><%= format_time bid.created_at%> </td><td><%= bid.price%> </td><td><%= bid.offerer.login%> </td>
  </tr>
  <% end %>
</table>
</div>
