<%
#当前价：  拍卖尚未开始
#拍卖厅：  倒计时出价大厅 开始：2013-06-17 10:00:00
#距开始：  正在拍卖  结束：2013-06-17 10:13:00
#拍卖权限  您没有参与拍卖权限   >>点击申请参与拍卖
#起拍价： ￥1000元 加价幅度：￥500元  保留价：有
#拍卖保证金：￥5000元  车辆承保金：￥44100元 过户保证金：中标价的10%(最低5000元，最高30000元)
#拍卖时间  价格  用户ID
auction = @auction
%>
<script type="text/javascript" charset="utf-8">
  g_auction_closed = <%= !@auction.open?%>
</script>

<%= form_for :auction, url: bid_auction_path( @auction ), remote:true, html: { id: "J_PmForm" }  do %>
<div id="auction_info" class="auction-interaction">
    <% if @auction.todo? %>
        <ul class="pm-bid-eyebrow">
            <li id="sf-price">
                <span class="title">  起拍价 </span>
                <span class="pm-current-price J_Price">
    			        <em><%= @auction.formatted_current_price %>  </em>
                  <span class="J_AuctionTip auction-tip pm-current-price-tip hidden" style="display: none;">壹仟贰佰肆拾叁元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
                </span> <em class="rmb-unit">元</em>
				    </li>

            <%= content_tag "li", id: "sf-countdown", class: "J_PItem", data:{ itemid: auction.number, timetoend: auction.timetoend, timetostart: auction.timetostart, end: auction.endat, start: auction.startat, now: auction.nowat } do %>
                <span class="title J_TimeTitle">距开始</span>
                <span class="countdown J_TimeLeft"><var>00</var><em>天</em><var>09</var><em>时</em><var>00</var><em>分</em><var>04.3</var><em>秒</em></span>
            <% end %>

        </ul>
        <div class="pm-bid-eye">
                <span class="status-tip"></span>
                <div class="pm-bid pm-before-apply">
                    <dl class="pm-price J_PmPrice clearfix">
                        <dt class="pm-h"><label for="J_PriceInput">出&nbsp;&nbsp;价</label></dt>
                        <dd class="plus-minus-operation">
                            <input type="text" class="pm-price-input" id="J_PriceInput" readonly="" disabled="disabled" value="1,243 " maxlength="" title="出价框，请输入拍卖价格" data-range="50.00" data-min="1243.00" data-max="9999999999.99">
                            <input type="hidden" name="price" id="J_RealPrice" value="">
                            <div class="pm-sign">
                                <a href="#!/price/plus" onclick="return false;" class="plus J_Sign" data-spm-anchor-id="0.0.0.0">+</a>
                                <a href="#!/price/minus" onclick="return false;" class="minus J_Sign">-</a>
                            <span class="J_AuctionTip auction-tip pm-sign-tip hidden" style="display: none;">可成倍加价幅度出价<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></div>
                            <div id="J_CnMoney" class="detail-info-cn-money" style="display: none"><ul class="clearfix"></ul></div>
                        </dd>
                    </dl>
                    <dl class="pm-message clearfix">
                        <dt class="pm-h"></dt>
                        <dd>
                            <div class="line">
                              <%= link_to "报名交保证金", apply_auction_path( auction), { class: "pm-button-new pm-apply-button i-b", id: "submitDeposit", target: "_blank", name: "apply" } %>
                               <a href="//sf.taobao.com/pay_foregift_page.htm?item_id=536087664360" target="_blank" style="display:none;"></a>
                               <a href="//www.taobao.com/markets/paimai/sf/feiyin?spm=a213w.6688509.detail.12.UVRH6b" target="_blank" class="J_PayTypes i-b pay-type" data-money="100">
                                 <i class="iconfont-sf"></i>
                                      保证金支付方式
                                  <span class="J_AuctionTip auction-tip J_PayTypes-tip hidden">
                                    <ul class="pay-type-list">
                                        <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                        <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                        <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                        <li><h4>4.支付宝余额和余额宝</h4></li>
                                    </ul>
                                  </span>
                                </a>
                            </div>

                            <div class="msg">
                                    <p class="tips" data-tip-type="login" data-always="true">提醒：先报名交保证金再出价。
                                      <% unless try_spree_current_user %>
                                      如果您已经交付保证金，请<a href="#" class="J_Login login-tip">登录</a>
                                      <% end %>
                                    </p>
                            </div>
                          </dd>
                    </dl>
                </div>
            </div>
    <% elsif @auction.doing? %>
        <ul class="pm-bid-eyebrow">
            <li id="sf-price">
                <span class="title">当前价</span>
                <span class="pm-current-price J_Price">
    			        <em><%= @auction.formatted_current_price %> </em>
                  <span class="J_AuctionTip auction-tip pm-current-price-tip hidden">柒万捌佰元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
                </span> <em class="rmb-unit">元</em>
            </li>
            <%= content_tag "li", id: "sf-countdown", class: "J_PItem", data:{ itemid: auction.number, timetoend: auction.timetoend, timetostart: auction.timetostart, end: auction.endat, start: auction.startat, now: auction.nowat } do %>
                <span class="title J_TimeTitle">距结束</span>
                <span class="countdown J_TimeLeft"><var>00</var><em>天</em><var>03</var><em>时</em><var>38</var><em>分</em><var>37.3</var><em>秒</em></span>
                <span id="J_Delay" class="pm-delay"><em class="delayCnt">0</em>次延时</span>
            <% end %>
        </ul>
          <div class="pm-bid-eye">
                <span class="status-tip status-ing"></span>
           <% unless spree_current_user.biddable?(  @auction ) %>
                <div class="pm-bid pm-before-apply">
                    <dl class="pm-price J_PmPrice clearfix">
                        <dt class="pm-h"><span for="J_PriceInput">出&nbsp;&nbsp;价</span></dt>
                        <dd class="plus-minus-operation">
                            <input type="text" class="pm-price-input" id="J_PriceInput" readonly="" disabled="disabled" value="71,000 " maxlength="" title="出价框，请输入拍卖价格" data-range="200.00" data-min="71000.00" data-max="9999999999.99">
                            <input type="hidden" name="price" id="J_RealPrice" value="">
                            <div class="pm-sign">
                                <a href="#!/price/plus" class="plus J_Sign" onclick="return false;" data-spm-anchor-id="0.0.0.0">+</a>
                                <a href="#!/price/minus" class="minus J_Sign" onclick="return false;">-</a>
                            <span class="J_AuctionTip auction-tip pm-sign-tip hidden" style="display: none;">可成倍加价幅度出价<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></div>
                            <div id="J_CnMoney" class="detail-info-cn-money" style="display: none"><ul class="clearfix"></ul></div>
                        </dd>
                    </dl>
                    <dl class="pm-message clearfix">
                        <dt class="pm-h"></dt>
                        <dd>
                            <div class="line">
                              <%= link_to "报名交保证金", apply_auction_path( auction), { class: "pm-button-new pm-apply-button i-b", id: "submitDeposit", target: "_blank", name: "apply" } %>
                              <a href="//sf.taobao.com/pay_foregift_page.htm?item_id=536334542630" target="_blank" style="display:none;"></a>
                              <a href="//www.taobao.com/markets/paimai/sf/feiyin?spm=a213w.6688509.detail.12.UVRH6b" target="_blank" class="J_PayTypes i-b pay-type" data-money="9000">
                                        保证金支付方式
                                    <span class="J_AuctionTip auction-tip J_PayTypes-tip hidden" style="display: none;">
                                      <ul class="pay-type-list">
                                          <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
                                          <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
                                          <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
                                          <li><h4>4.支付宝余额和余额宝</h4></li>
                                      </ul>
                                   </span></a>

                              </div>
                              <div class="msg">
                                    <p class="tips" data-tip-type="login" data-always="true">提醒：先报名交保证金再出价。
                                      <% unless try_spree_current_user %>
                                       如果您已经交付保证金，请<a href="#" class="J_Login login-tip">登录</a>
                                       <% end %>
                                     </p>
                              </div>
                        </dd>
                    </dl>
                </div>
           <% else %>
                <div class="pm-bid ">
                  <div id="J_PmMessage"> </div>
                    <dl class="pm-price J_PmPrice clearfix">
                        <dt class="pm-h"><label for="J_PriceInput">出&nbsp;&nbsp;价</label></dt>
                        <dd class="plus-minus-operation">
                          <%= text_field_tag "formatted_biddable_price", @auction.formatted_biddable_price, readonly: true, id: "J_PriceInput", class: "pm-price-input", title: "出价框，请输入拍卖价格", data:{ range: @auction.price_increment, min: @auction.starting_price, max: 9999999999.99, num: @auction.number} %>
                          <%= hidden_field_tag "price", @auction.current_price, id: "J_RealPrice" %>
                            <div class="pm-sign">
                                <a href="javascript:void(0)" class="plus J_SignPlus" data-spm-anchor-id="0.0.0.0">+</a>
                                <a href="javascript:void(0)" class="minus J_SignMinus">-</a>
                            <span class="J_AuctionTip auction-tip pm-sign-tip hidden" style="display: none;">可成倍加价幅度出价<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></div>
                            <div id="J_CnMoney" class="detail-info-cn-money" style="display: none"><ul class="clearfix"></ul></div>
                        </dd>
                    </dl>
                    <dl class="pm-message clearfix">
                        <dt class="pm-h"></dt>
                        <dd>
                            <div class="line">
                              <!--即将开始：will-btn;正在开拍:on-btn;已经结束:over-btn-->
                              <a href="javascript:void(0)" class="pm-button-new on-btn i-b" name="price" aria-role="button" id="J_GivePrice">出&nbsp;&nbsp;&nbsp;&nbsp;价</a>
								            </div>
                            <div class="msg">
                              <p class="tips" data-tip-type="paimai">提醒：先交保证金再出价，至少两人报名且出价达保留价，才能成交</p>
                            </div>

                        </dd>
                    </dl>
                </div>
                <div class="my-info clearfix" id="J_User" style="display: block;">
                  <div class="my-info-hd bidder">
                    <i class="iconfont-sf my-icon"></i>我的竞买号 <em class="J_NO">Z8235</em>
                    <input type="hidden" value="false" class="J_IsPriorityUser">
                  </div>
                  <div class="my-info-detail bidder">
                        <div class="line my-name">
                            <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名: </span>
                            <strong class="J_Name">张哲</strong>
                        </div>
                        <div class="line">
                            <span>已 出 价: </span>
                            <strong class="J_MyBidCnt"> 0 </strong>
                            <em>次</em>
                        </div>
                  </div>
                </div>
          <% end %>
          </div>
    <% elsif @auction.done? %>
        <ul class="pm-bid-eyebrow">
              <li>
                  <span class="title">当前价</span>  <span class="pm-current-price J_Price"><em><%= @auction.formatted_current_price %> </em><span class="J_AuctionTip auction-tip pm-current-price-tip hidden" style="display: none;">柒万伍仟壹佰贰拾壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span>
                  <em class="rmb-unit">元</em>
              </li>
              <li>
                  <span class="title over-title">结束时间</span>
                  <span class="countdown J_TimeLeft"> <%= @auction.formatted_closed_at %> </span>
                  <span id="J_Delay" class="pm-delay" style="display:inline;"><em class="delayCnt">7</em>次延时</span>
              </li>
        </ul>
        <div class="pm-bid bid-over">
          <h1 class="bid-fail"><s></s>本场拍卖已结束 ！</h1>
          <div class="close-price"></div>
       </div>
    <% end %>


 <div class="pm-bid-mouse clearfix">
         <table class="pai-pay-infor">
             <colgroup>
                 <col width="35%">
                 <col width="37%">
                 <col width="">
             </colgroup>
             <thead>
             </thead>
             <tbody id="J_HoverShow">
             <tr>
                 <td>
                    <span class="pay-mark i-b">起 拍 价</span>
                    <span class="pay-price" style="z-index: 99;">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_starting_price %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">叁万玖仟壹佰贰拾壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                    <span class="pay-mark i-b">加价幅度</span>
                    <span class="pay-price">: <em class="m-i">¥</em><span class="J_Price"><%= @auction.formatted_price_increment %>  <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">壹仟元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                    <span class="pay-mark i-b">类 型</span>
                    <span class=" J_Type_p ">: <span class="pay-type">拍卖</span><span class="pay-type-help"></span></span>
                    <span class="J_AuctionTip auction-tip delay-td-tip hidden" style="display: none;">拍乐拍卖是由拍乐网作为主体，和纯粹的技术平台合作处置资产的模式。<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></td>
             </tr>
             <tr>
                <td>
                     <span class="pay-mark i-b">评 估 价</span>
                     <span class="pay-price" style="z-index: 99;">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_evaluated_price %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">肆万捌仟玖佰壹元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td>
                     <span class="pay-mark i-b">竞价周期</span>
                     <span>: <%= @auction.formatted_auction_period %></span>
                 </td>
                 <td class="prior-td">
                     <span class="pay-mark i-b pay-first"><em class="pay-first-icon"></em>优先购买权人</span>
                     <span>: 无 </span>
                 <span class="J_AuctionTip auction-tip prior-td-tip hidden" style="display: none;">优先购买权又称先买权，是指法律赋予特定对象（特定人）依照法律规定或合同约定，在出卖标的物于第三人时，享有的在同等条件下优先于第三人购买的权利。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.3.ucBfJv&amp;path=sf-helpcenter-mcjs#m8" target="_blank" data-spm-anchor-id="a213w.6688509.detail.3">详细</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span></td>
            </tr>
             <tr>
                 <td>
                     <span class="pay-mark i-b">保 证 金</span>
                     <span class="pai-save-price ">: <em class="m-i">¥</em><span class="J_Price"> <%= @auction.formatted_deposit %> <span class="J_AuctionTip auction-tip J_Price-tip hidden" style="display: none;">玖仟元<em class="detail-tip-icon detail-tip-icon-bottom"></em></span></span></span>
                 </td>
                 <td class="delay-td">
                     <span class="pay-mark J_Delay i-b">延时周期</span>
                     <span>: 5分钟/次 </span>
                     <span class="J_AuctionTip auction-tip delay-td-tip hidden" style="display: none;">竞拍最后2分钟内，若有用户出价，即进入延时竞价周期。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.4.ucBfJv&amp;path=sf-helpcenter-mcjs#m9" target="_blank" data-spm-anchor-id="a213w.6688509.detail.4">查看</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
                </td>
                 <td class="reserve-td">
                     <span class="pay-mark J_Reserve i-b">保 留 价</span>
                     <span>: <%= @auction.reserve_price>0 ? "有" : "无" %></span>
                 <span class="J_AuctionTip auction-tip reserve-td-tip hidden" style="display: none;">卖家设定的拍品的最低成交价格，最终的价格低于该价格即流拍。<a href="//www.taobao.com/markets/paimai/sf-helpcenter?spm=a213w.6688509.detail.5.ucBfJv&amp;path=sf-helpcenter-mcjs#m11" target="_blank" data-spm-anchor-id="a213w.6688509.detail.5">查看</a><em class="detail-tip-icon detail-tip-icon-bottom"></em></span>
               </td>
             </tr>
             </tbody>
         </table>
     </div>
</div>
<% end %>
