
<div class="info-section">
                <!-- price { -->
                <p class="price price-todo pai-status-todo-show">
                    <span class="">
                        起拍价
                    </span>
                    <span class="value"><em class="currency">¥</em><em class=""> <%= auction.starting_price %> <s>元</s></em></span>
                </p>

                <p class="price price-current pai-status-doing-show
                                            pai-status-break-show
                                            pai-status-revocation-show
                                            pai-status-failure-show">
                    <span class="">当前价</span>
                    <span class="value"><em class="currency">¥</em><em class="pai-xmpp-current-price ">  <%= auction.starting_price %> <s>元</s></em></span>
                    <span class="bid-tips field-hide">（<em class="pai-xmpp-bid-count">0</em>次出价）</span>
                </p>

                <p class="price price-done pai-status-done-show">

                    <span class="">当前价</span>

                    <span class="value"><em class="currency">¥</em><em class="pai-xmpp-current-price ">  <%= auction.starting_price %> <s>元</s></em></span>
                    <span class="bid-tips field-hide">（<em class="pai-xmpp-bid-count">0</em>次出价）</span>
                </p>

                <p class="price price-assess">
                    <span class="">评估价</span>
                    <span class="value"><em class="currency">¥</em><em> <%= auction.evaluated_price %> <s>元</s></em></span>
                </p>

                <!-- } price -->

                <!-- time / countdown { -->
                <p class="time time-todo pai-status-todo-show">
                    <span class="">
                        开拍时间
                    </span>
                    <span class="value"> <%=format_datetime auction.starts_at %> </span>
                </p>

                <p class="time time-doing pai-status-doing-show">
                    <span class="">距结束</span>
                    <%= content_tag "span", class: "value pai-countdown pai-xmpp-countdown", data:{ itemid: auction.id, timetoend: auction.timetoend, timetostart: auction.timetostart, end: auction.endat, start: auction.startat, now: auction.nowat } do %>
                        <span class="J_TimeLeft"><var class="pai-hour"><em>21</em>时</var><var class="pai-minute"><em>00</em>分</var><var class="pai-second"><em>02</em>秒</var></span>
                    <% end %>

                    <span class="bid-tips field-hide">（<em class="pai-xmpp-delay-count">0</em>次延时）</span>
                </p>

                <p class="time time-done pai-status-done-show
                                    pai-status-break-show
                                    pai-status-revocation-show
                                    pai-status-failure-show">
                    <span class="">结　束</span>
                    <span class="value"><%=format_datetime auction.ends_at %> </span>
                    <span class="bid-tips field-hide">（<em class="pai-xmpp-delay-count">0</em>次延时）</span>
                </p>
                <!-- } time / countdown -->
</div>
<div class="footer-section">
                <p class="num-auction"><em class="pai-xmpp-viewer-count"> <%= auction.visits %></em>次围观</p>
                <p class="num-apply"><em><%= auction.visits %></em>人报名</p>
</div>
<div class="flag-section">
                <div class="flag flag-todo pai-status-todo-show"></div>
                <div class="flag flag-doing pai-status-doing-show"></div>
                <div class="flag flag-done pai-status-done-show
                                           pai-status-failure-show"></div>
                <div class="flag flag-break pai-status-break-show"></div>
                <div class="flag flag-revocation pai-status-revocation-show"></div>
</div>
