  <div id="main-nav-bar" class="idle-header-wrap ">
    <div class="idle-header">
      <div id="logo" class="idle-logo" data-hook>
        <%= logo %>
      </div>
      <ul class="idle-search" data-hook>
          <li id="search-bar" data-hook>
            <%= render :partial => 'spree/shared/search' %>
          </li>
      </ul>

      <ul class="idle-nav2 sf-menu">
        <li > <a> 拍卖分类</a>
          <%= render :partial => 'spree/shared/taxonomies_superfish' %>
        </li>
      </ul>
      <ul class="idle-nav" data-hook>
        <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
        <li ><%= link_to "拍卖中心", spree.auctions_path %></li>
        <li ><%= link_to "降降降", spree.by_type_auctions_path %></li>
        <li ><%= link_to "发布闲置", spree.new_auction_path %></li>
        <li ><%= link_to "我的闲置", spree.new_auction_path %></li>
      </ul>

    </div>
  </div>
